:root {
  --color-cell-white: #F0DAB5;
  --color-cell-black: #B58763;
  --color-background: #ECEBE7;
  --color-white: #fff;
  --border-primary: .1rem solid black;
  --border-radius-primary: .5rem;
  --color-highlight: rgba(59, 160, 59, 0.6);
  --color-dot: rgb(59, 160, 59);
  --color-capture: radial-gradient(rgb(182, 244, 146), rgb(51, 139, 147));
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-background);
}

.header {
  padding: 2rem 0;
  margin-bottom: 5rem;
}
.header__title {
  font-size: 4rem;
  text-align: center;
}

.game {
  position: relative;
  margin: 0 auto;
  max-width: 40%;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--color-background);
}
.cover > *:not(:last-child) {
  margin-bottom: 2rem;
}
.cover--hidden {
  display: none;
}

.board {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
}
.board__cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board__cell--white {
  background-color: var(--color-cell-white);
}
.board__cell--black {
  background-color: var(--color-cell-black);
}
.board__cell--hovered {
  background-image: linear-gradient(var(--color-highlight), var(--color-highlight));
}
.board__cell--move {
  position: relative;
}
.board__cell--move::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--color-dot);
}
.board__cell--capture {
  background-image: var(--color-capture);
}
.board__piece {
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 1rem 0;
}
.info__time {
  font-size: 3rem;
}

.form {
  font-size: 2rem;
  padding: 2rem;
  background-color: var(--color-white);
}
.form--create {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(7, min-content);
  align-items: center;
  gap: 1rem;
}
.form__type, .form__label {
  cursor: pointer;
}
.form--join, .form__link-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form__heading {
  font-size: 2.5rem;
}
.form__heading--create {
  grid-area: 1/1/2/3;
}
.form__link-box {
  margin-top: 2rem;
  grid-column: 1/-1;
}
.form__link {
  font-size: inherit;
  padding: 0.2rem 0.5rem;
  border: var(--border-primary);
  border-radius: var(--border-radius-primary);
  outline: none;
}
.form__submit {
  width: 30%;
  min-width: 10rem;
  align-self: center;
  font-size: inherit;
  padding: 1rem 0;
  margin-top: 1rem;
  border: var(--border-primary);
  border-radius: var(--border-radius-primary);
  cursor: pointer;
}
.form__submit--create {
  grid-column: 1/-1;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(250, 250, 250, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.loader__image {
  width: 8rem;
  animation: 1.5s linear infinite spinner;
}
.loader--hidden {
  display: none;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.captured {
  width: 100%;
  height: 2rem;
  display: flex;
}
.captured__piece {
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
