.board {
   display: grid;
   width: 100%;
   grid-template-rows: repeat(8, 1fr);
   grid-template-columns: repeat(8, 1fr);

   &__cell {
      display: flex;
      justify-content: center;
      align-items: center;

      &--white {
         background-color: var(--color-cell-white);
      }

      &--black {
         background-color: var(--color-cell-black);
      }

      &--hovered {
         background-image: linear-gradient(var(--color-highlight), var(--color-highlight));
      }

      &--move {
         position: relative;

         &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: var(--color-dot);
         }
      }

      &--capture {
         background-image: var(--color-capture);
      }

      &--checked {
         background-image: var(--color-checked);
      }
   }

   &__piece {
      width: 100%;
   }
}