.board {
   display: grid;
   width: 100%;
   grid-template-rows: repeat(8, 1fr);
   grid-template-columns: repeat(8, 1fr);

   &__cell {
      display: flex;
      justify-content: center;
      align-items: center;

      &--white {
         background-color: var(--color-cell-white);
      }

      &--black {
         background-color: var(--color-cell-black);
      }

      &--hovered {
         background-image: linear-gradient(rgba(59, 160, 59, 0.6), rgba(59, 160, 59, 0.6));
      }
   }

   &__piece {
      width: 100%;
   }
}