.loader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(250, 250, 250, .8);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 10;

   &__image {
      width: 8rem;
      animation: 1.5s linear infinite spinner;
   }

   &--hidden {
      display: none;
   }
}

@keyframes spinner {
   0% {
      transform: rotate(0);
   }

   100% {
      transform: rotate(360deg);
   }
}