*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
   box-sizing: border-box;

   @include respond(phone-big) {
      font-size: 50%;
   }

   @include respond(phone) {
      font-size: 40%;
   }

   @include respond(phone-small) {
      font-size: 30%;
   }
}

body {
   font-size: 1.6rem;
   background-color: var(--color-background);
}