:root {
   --color-cell-white: #F0DAB5;
   --color-cell-black: #B58763;
   --color-background: #ECEBE7;
   --color-white: #fff;

   --border-primary: .1rem solid black;
   --border-radius-primary: .5rem;
   --color-highlight: rgba(59, 160, 59, 0.6);
   --color-dot: rgb(59, 160, 59);
   --color-capture: radial-gradient(rgb(182, 244, 146), rgb(51, 139, 147));
   --color-checked: radial-gradient(rgb(251, 32, 86), rgb(135, 2, 35));
}